@(issues: List[Issue])

@import helper._

@main("Scala Issues") {
  <h1>Recent Open Issues</h1>

  <ul>
    @issues.map { issue =>
      <li>
        @* print all open issues *@
        @issue.describe
        @if(issue.isTested) {
          <img src="https://scala-webapps.epfl.ch/jenkins/static/e3c74e88/images/16x16/blue.png"/>
        }
        else {
          <img src="https://scala-webapps.epfl.ch/jenkins/static/e3c74e88/images/16x16/red.png"/>
        }
        @if(issue.isReviewed) {
          <img src="https://scala-webapps.epfl.ch/jenkins/static/e3c74e88/images/16x16/blue.png"/>
        }
        else {
          <img src="https://scala-webapps.epfl.ch/jenkins/static/e3c74e88/images/16x16/red.png"/>
        }
      </li>
    }
  </ul>

}
