@(issues: List[Issue])

@import helper._

@main("Scala Issues") {
  <h1>Recent Open Issues</h1>

  <ul>
    @issues.map { issue =>
      <li>
        @* print all open issues *@
        @issue.describe
        @if(issue.isTested) {
          <h4>Tested <img src="https://scala-webapps.epfl.ch/jenkins/static/e3c74e88/images/16x16/blue.png"/> </h4>
        }
        @if(!issue.isTested) {
          <h4>Not Tested <img src="https://scala-webapps.epfl.ch/jenkins/static/e3c74e88/images/16x16/red.png"/> </h4> 
        }
        @if(issue.isReviewed) {
          <h4>Reviewed <img src="https://scala-webapps.epfl.ch/jenkins/static/e3c74e88/images/16x16/blue.png"/> </h4>
        }
        @if(!issue.isReviewed) {
          <h4>Not Reviewed <img src="https://scala-webapps.epfl.ch/jenkins/static/e3c74e88/images/16x16/red.png"/> </h4>
        }
      </li>
    }
  </ul>

}
